* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
:root {
  --background-color: #4361ee;
  --second-background: #4cc9f0;
  --text-color: #fae6e9;
  --background-button: #f18789;
  --logo-color: #7209b7;

  --font-logo: "Lilita One", cursive;
}

.header {
  width: 100%;  
  background: var(--background-color);
  box-shadow: 0 1px 5px var(--second-background) ;
  
   
}
.interface {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.img-user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}


a {
  text-decoration: none;
}

li{
  list-style: none;
}
#logo {
  font-family: var(--font-logo);
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  line-height: 10px;
  color: var(--text-color);
}

#logo span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navegation{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: var(--second-background);
  padding-top: 20px;
 
}